{% comment %}
  Pagination controls for collection pages.
{% endcomment %}

<nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
  <ul class="list--inline pagination__list">
    {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}" class="btn btn--tertiary btn--narrow">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15">
            <path d="M50 7.5H2m0 0l7-7m-7 7l7 7" stroke="currentColor" stroke-width="2" fill="none"></path>
          </svg>
          <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
        </a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      <li>
        {% if part.is_link %}
          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
        {% else %}
          {% if part.title == '&hellip;' %}
            <span aria-hidden="true">{{ part.title }}</span>
          {% else %}
            <span class="pagination__item--current" aria-current="page">{{ part.title }}</span>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}

    {% if paginate.next %}
      <li>
        <a href="{{ paginate.next.url }}" class="btn btn--tertiary btn--narrow">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-right" viewBox="0 0 50 15">
            <path d="M0 7.5h48m0 0l-7-7m7 7l-7 7" stroke="currentColor" stroke-width="2" fill="none"></path>
          </svg>
          <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
